<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://egowebsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>egowebsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>egowebsite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$egowebsite</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="EGOConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:n0zi101rrh.database.windows.net,1433;Initial Catalog=egowebsA8853XRJA;User ID=Nhlaka@n0zi101rrh;Password=Zxcvbnm,1" Name="Data Source=tcp:n0zi101rrh.database.windows.net,1433;Initial Catalog=egowebsA8853XRJA;User Id=Nhlaka@n0zi101rrh;Password=Zxcvbnm,1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EGO.Data.ApplicationDbContext, EGO.Data" MigrationConfiguration="EGO.Data.Migrations.Configuration, EGO.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EGOConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:n0zi101rrh.database.windows.net,1433;Initial Catalog=egowebsA8853XRJA;User Id=Nhlaka@n0zi101rrh;Password=Zxcvbnm,1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>